html {
  background: #000;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Press_Start_2P", cursive;
  background: #000;
}

.pacman-game {
  margin-top: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.5em;
  text-align: center;
}

#pacman {
  width: 100vw;           /* Full device width */
  max-width: 400px;       /* Limit on desktop */
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

canvas {
  width: 100% !important;   /* Responsive! */
  height: auto !important;
  max-width: 400px;
  display: block;
  margin: 0 auto;
  font-family: "Press Start 2P", cursive;
}

a {
  text-decoration: none;
}
